/*.input-width {
    border: none;
    outline: none;
    background-color: #f3f3f3;
    width: 31%;
    padding: 6px 12px;
    border-radius: 4px;
    border: 1px solid #d1d1d1;
}

.task-details > tr > td{
	text-align: none !important;
	width:200px !important;
}*/
.container{

	/*width: 700px;*/

}

.login{

	background-color: #f3f3f3;
	height: 200px;

}

.login > tbody{

	margin-top: 60px;

}

.dashboard{

	background-color: #f3f3f3;

}

.project{

	background-color: #f3f3f3;

}

.employee{

	background-color: #f3f3f3;

}

.task{

	background-color: #f3f3f3;	

}